{
  "presets": [
    "es2015",
    ["env", {
      "targets": {
        "node": true
      }
    }]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
  ]]
}